### STEP_2__. Import required libraries (not allowed: scikit-learn or any other libraries with inbuilt functions that help to implement ML)

In [3]:
#all required libraries imported 
#import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd  
import seaborn as sns 
import time

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly

### STEP_1__Select one dataset from the list provided above. The datasets are located in the folder “dataset”, use only the dataset provided in the folder

In [4]:
#reading the File
#pd.set_option('display.max_rows', None)
data_diamond_3=pd.read_csv("C:/Users/viraj/Code_a/ML_Prof_Alina/Assignment_1/datasets (1)/datasets/diamond.csv")

### STEP_3__Read, preprocess and print the main statistic about the dataset (your code from Part I can be reused).

In [5]:
data_diamond_3.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [6]:
#checking the null values
data_diamond_3.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [7]:
data_diamond_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [8]:
data_diamond_3 = data_diamond_3.drop(["Unnamed: 0"], axis=1)

In [9]:
data_diamond_3

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [10]:
df=data_diamond_3
#printing the column names
for col in df.columns:
    print(col)

carat
cut
color
clarity
depth
table
price
x
y
z

In [11]:
df.head().transpose()
df = pd.DataFrame(df)

In [12]:
df.drop(df[df['x'] == 0].index, inplace = True)
df.drop(df[df['y'] == 0].index, inplace = True)
df.drop(df[df['z'] == 0].index, inplace = True)

In [13]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53920 rows x 10 columns]

In [14]:
print(f'cut_unique_Values_{ df["cut"].unique() }')
print(f'clarity_unique_values_{df["clarity"].unique()}')
print(f'color_unique_values_{df["color"].unique()}')

cut_unique_Values_['Ideal' 'Premium' 'Good' 'Very Good' 'Fair']
clarity_unique_values_['SI2' 'SI1' 'VS1' 'VS2' 'VVS2' 'VVS1' 'I1' 'IF']
color_unique_values_['E' 'I' 'J' 'H' 'F' 'G' 'D']

In [15]:
df
df_1=df

In [16]:

numeric_clarity= {"clarity": {"I1":0,"SI2":1,"SI1":2,"VS2":3, "VS1":4, "VVS2":5, "VVS1":6,"IF":7}}
df_1 = df_1.replace(numeric_clarity)

numeric_color = {"color": {"J":0,"I":1,"H":2,"G":3, "F":4, "E":5, "D":6}}
df_1 = df_1.replace(numeric_color)

numeric_cut = {"cut": {"Fair":0, "Good":1, "Very Good":2, "Premium":3, "Ideal":4}}
df_1 = df_1.replace(numeric_cut)

In [17]:
df_1

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    4      5        1   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      5        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      5        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      1        3   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      0        1   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    4      6        2   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    1      6        2   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    2      6        2   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    3      2        1   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    4      6        1   62.2   55.0   2757  5.83  5.87  3.64

[53920 rows x 10 columns]

In [18]:
data_diamond_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [19]:
df_1['cut'] = df_1['cut'].astype('int64')
df_1['color'] = df_1['color'].astype('int64')
df_1['clarity'] = df_1['clarity'].astype('int64')
data_diamond_3.shape

(53940, 10)

In [20]:
df_1.info()
df_2=df_1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53920 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53920 non-null  float64
 1   cut      53920 non-null  int64
 2   color    53920 non-null  int64
 3   clarity  53920 non-null  int64
 4   depth    53920 non-null  float64
 5   table    53920 non-null  float64
 6   price    53920 non-null  int64
 7   x        53920 non-null  float64
 8   y        53920 non-null  float64
 9   z        53920 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 4.5 MB

In [21]:
df_1.describe()

,carat,cut,color,clarity,depth,table,price,x,y,z
count,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000
mean,0.797698,2.904228,3.405972,3.051502,61.749514,57.456834,3930.993231,5.731627,5.734887,3.540046
std,0.473795,1.116579,1.701272,1.647005,1.432331,2.234064,3987.280446,1.119423,1.140126,0.702530
min,0.200000,0.000000,0.000000,0.000000,43.000000,43.000000,326.000000,3.730000,3.680000,1.070000
25%,0.400000,2.000000,2.000000,2.000000,61.000000,56.000000,949.000000,4.710000,4.720000,2.910000
50%,0.700000,3.000000,3.000000,3.000000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,4.000000,5.000000,4.000000,62.500000,59.000000,5323.250000,6.540000,6.540000,4.040000
max,5.010000,4.000000,6.000000,7.000000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [22]:
#a. Find the min and max values for each column.

x_min , x_max = min(df_1['x']),max(df_1['x'])

y_min ,  y_max = min(df_1['y']) ,max(df_1['y'])

z_min ,z_max = min(df_1['z']) , max(df_1['z'])
 
carat_min , carat_max = min(df_1['carat']) , max(df_1['carat'])


depth_min , depth_max = min(df_1['depth']),max(df_1['depth'])

table_min ,  table_max = min(df_1['table']) ,max(df_1['table'])

price_min ,price_max = min(df_1['price']) , max(df_1['price'])

In [23]:
#b. Rescale dataset columns to the range from 0 to 1

df_1['x'] = (df_1['x'] - x_min) / (x_max - x_min)
df_1['y']  = (df_1['y']  - y_min)  / (y_max  - y_min)
df_1['z'] = (df_1['z'] - z_min)/(z_max - z_min)
df_1['carat'] = (df_1['carat'] - carat_min)/(carat_max - carat_min)



df_1['depth'] = (df_1['depth'] - depth_min) / (depth_max - depth_min)
df_1['table']  = (df_1['table']  - table_min)  / (table_max  - table_min)
df_1['price'] = (df_1['price'] - price_min)/(price_max - price_min)

##

In [24]:
import random
df_1 = df_1.sample(frac = 1)

In [25]:
df_1_except_price_X=df_1[['x','y','z','carat']]
df_1_except_price_X.shape

(53920, 4)

In [26]:
df_1_price_Y=df_1['price']
print(df_1_price_Y.shape)

(53920,)

In [27]:
df_1_price_Y

4939     0.184138
45413    0.072552
48646    0.011407
21592    0.506461
35196    0.030545
           ...
1109     0.139915
678      0.136400
1731     0.012705
22520    0.553171
43948    0.010272
Name: price, Length: 53920, dtype: float64

### STEP_8__Divide the dataset into training and test, as 80% training, 20% testing dataset
### STEP_6__Choose your target Y
### STEP_7__Create the data matrices for X (input) and Y (target) in a shape X = 𝑁 x 𝑑 and Y = 𝑁 x 1, where 𝑁 is a number of data samples and 𝑑 is a number of features.

In [28]:
import random
random.seed(46)

train_size = int(len(df_1_except_price_X) * 0.8)

X_train = df_1_except_price_X[0:train_size]
Y_train = df_1_price_Y[0:train_size]

X_test = df_1_except_price_X[train_size : ]
Y_test = df_1_price_Y[train_size : ]

X_train = X_train.to_numpy()
Y_train = Y_train.to_numpy()
X_test = X_test.to_numpy()
Y_test = Y_test.to_numpy()

### STEP_9__Print the shape of your X_train, y_train, X_test, y_test.

In [29]:
print(X_train.shape)
print(Y_train.shape)

print(X_test.shape)
print(Y_test.shape)

(43136, 4)
(43136,)
(10784, 4)
(10784,)

Use your implementation from Part II and extend it to Ridge Regression.
Implement parameter estimation for ridge regression by minimizing the regularized
squared loss as follows:
    
   #### 𝐽(𝒘) = (0.5) * (∑ <i=1 to N> ((𝑦_𝑖 − (𝑤^𝑇 ) * 𝑥_𝑖 )^2))  +  (0.5) * (𝜆 * (𝒘^𝑇) * 𝒘) 
    
    In matrix-vector notation, the squared loss can be written as:
   #### 𝐽(𝒘) = (0.5) * (∑ <i=1 to N> ((𝒚 − 𝑿 * 𝒘)^𝑇) * (𝒚 − 𝑿 * 𝒘))  +  (0.5) * (𝜆 * (𝒘^𝑇) * 𝒘)   
    
    OLS equation for Ridge regression can be estimated as
   #### 𝒘 = (((𝑿^𝑇) * 𝑿 + 𝝀 * 𝑰)^(−1)) * (𝑿^𝑇) * y

In [37]:


class RidgeRegression_with_GradientDescent():
    
    def __init__(self, l2_regularizer=0.1, learning_rate=1e-6, epochs=10000):
        self.weights = None
        self.l2_regularizer = l2_regularizer
        self.learning_rate = learning_rate
        self.epochs = epochs
        self.cost_history = []
        self.gradient_history = []

    def fit(self):
        inverse_term = np.linalg.inv((np.matmul(X_train.T, X_train)) + self.l2_regularizer * np.identity(X_train.shape[1]))
        self.weights = np.matmul(np.matmul(inverse_term, X_train.T), Y_train)     
        for i in range(self.epochs):
            self.cost_history.append(self.cost(Y_train, X_train, self.weights))
            gradient = self.gradient(Y_train, X_train, self.weights)
            self.gradient_history.append(gradient)
            self.weights -= self.learning_rate * gradient
        return self.weights

    def gradient(self, Y_train, X_train, weights):
        gradient = -2 * np.matmul(X_train.T, (Y_train - np.matmul(X_train, self.weights))) + 2 * self.l2_regularizer * self.weights
        return gradient

    def cost(self, Y_train, X_train, weights):
        residual = np.matmul((Y_train - np.matmul(X_train, self.weights)).T, (Y_train - np.matmul(X_train, self.weights))) + self.l2_regularizer * np.matmul(self.weights.T, self.weights)
        return residual/len(Y_train)

    def predict(self, X):
        Y_pred = np.matmul(X, self.weights)
        return Y_pred

In [38]:
# initialize the class object
model = RidgeRegression_with_GradientDescent()

In [39]:
# fit the model and get weights vector
# fit the model and get weights vector


start_time = time.perf_counter()
weights = model.fit()
end_time = time.perf_counter()
training_time = end_time - start_time
print(f"Time taken to train the model: {training_time:.2f} seconds")
weights_list = weights.tolist()
print("Model weights:", weights_list)

Time taken to train the model: 8.08 seconds
Model weights: [-0.447288988072635, 1.3583995308398222, -0.6421401579630198, 2.5979623056523864]

In [40]:
# Cost_Function_Training test
cost_function_train = model.cost(Y_train, X_train, weights)
cost_function_train

0.0068021410272194795

In [41]:
# Cost_Function_testing test
cost_function_test = model.cost(Y_test, X_test, weights)
cost_function_test

0.006888719101668411

In [45]:
Y_pred_test = model.predict( X_train)
Y_pred_test

array([ 0.27229337,  0.07078333, -0.02166563, ...,  0.00892461,
        0.00088614,  0.00373351])

In [48]:
# predict the output on test set
Y_test_prediction = model.predict(X_test)
Y_test_prediction

array([0.27241718, 0.07673948, 0.08590126, ..., 0.00678691, 0.48921492,
       0.00098813])

In [49]:
# compare model using inbuilt sklearn function
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
clf = Ridge(alpha=0.1,solver='sag')
x = clf.fit(X_train, Y_train)
# predict the output for the train set
y_pred_inbuiltfuntioon = clf.predict(X_train)
mse1 = mean_squared_error(Y_train,y_pred_inbuiltfuntioon)
print(f'The cost of inbuilt function is {round(mse1,2)}')

The cost of inbuilt function is 0.01

### STEP_11__Get the predictions and calculating the sum of squared errors:

In [ ]:
# calculate the rmse of train set
rmse = np.sqrt(cost_function_train)
rmse

In [ ]:
# calculate the rmse of test set
rmse = np.sqrt(cost_function_test)
rmse

### STEP_12__Plot the predictions vs the actual targets

In [ ]:
trace_pred = go.Scatter(x=np.arange(len(Y_train_prediction)), y=Y_train_prediction.reshape(-1),
                        mode='markers', name='Predicted')

trace_actual = go.Scatter(x=np.arange(len(Y_train)), y=Y_train.reshape(-1),
                          mode='markers', name='Actual', marker=dict(color='red'))

data = [trace_pred, trace_actual]

layout = go.Layout(title='Predicted vs TARGET value for training_set',legend=dict(x=0, y=1))


fig = go.Figure(data=data, layout=layout)
fig.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=list(range(len(Y_test_prediction))),
    y=Y_test_prediction,
    mode='markers',
    name='Predicted'
))

fig.add_trace(go.Scatter(
    x=list(range(len(Y_test))),
    y=Y_test,
    mode='markers',
    name='Actual'
))

fig.update_layout(
    title='Predicted vs TARGET value for testing_set',
    legend=dict(
        x=0,
        y=1,
        bgcolor='rgba(255, 255, 255, 0.5)',
        bordercolor='rgba(0, 0, 0, 0.5)',
        borderwidth=1
    )
)
fig.show()